@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-image: url(/images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 3rem 6.5rem;
}
a {
  text-decoration: none;
  color: var(--white);
  margin: 0 0 0 2rem;
}
.intro {
  background-color: var(--white);
  text-align: center;
  margin: 13.5rem 19rem 0 19rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.maserclassLogo {
  margin: -1.8rem 0 0 0;
}
.introButtons {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  margin: 0 2rem;
}
.introButtons button {
  border: none;
}
.back {
  background-color: var(--moderate-cyan);
  color: var(--white);
  padding: 0 2.3rem;
  border-radius: 30px;
  font-weight: 700;
  height: 3rem;
}
.bookmark {
  display: flex;
  align-items: center;
  padding: 0 2rem 0 0;
  font-weight: 700;
  border-radius: 30px;
  color: var(--dark-gray);
  height: 3.3rem;
}
.bookmark p {
  margin: 0 0 0 1rem;
}
.stats {
  margin: 2rem 19rem;
  padding: 1rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
}
.stats p {
  margin: 0;
  color: var(--dark-gray);
  font-weight: 500;
}
.stats h2 {
  margin: 2rem 0 0.5rem 0;
  color: var(--black);
}
.data {
  display: flex;
  justify-content: space-between;
}
.progress-bar {
  width: 100%;
  height: 0.8rem;
  background-color: hsla(0, 0%, 48%, 0.3);
  border-radius: 20px;
}
.progress {
  height: 100%;
  width: 75%;
  background-color: var(--moderate-cyan);
  border-radius: 20px;
}
hr {
  margin: 2rem 0;
  color: var(--dark-gray);
  height: 4rem;
}
.project {
  margin: 2rem 19rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 1rem 3rem;
}
.projectHeading {
  color: var(--black);
}
.projectInfo {
  color: var(--dark-gray);
  font-size: 0.9em;
  width: 98%;
  margin: 0 0 1.5rem 0;
  line-height: 1.6em;
}
.item {
  border: 1px solid hsla(0, 0%, 48%, 0.4);
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1rem 0;
}
.itemHeader {
  display: flex;
  justify-content: space-between;
}

.itemHeader p {
  color: var(--moderate-cyan);
  font-weight: 500;
  margin: 0;
}

.itemHeader h4 {
  margin: 0;
}
.itemPragraph {
  color: var(--dark-gray);
}
.itemsLeft {
  display: flex;
  align-items: center;
  color: var(--dark-gray);
}
.numLeft {
  font-size: 2em;
  font-weight: 700;
  color: var(--black);
  margin: 0 0.5rem 0 0;
}
.itemFooter {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.reward {
  margin: 2rem 0;
  border: none;
  background-color: var(--moderate-cyan);
  color: var(--white);
  font-weight: 700;
  padding: 1rem 2.5rem;
  border-radius: 30px;
}
div.noStock {
  opacity: 0.4;
  margin: -0.5rem 1rem;
}
.rewardStockOut {
  background-color: var(--dark-gray);
}
.overlay {
  background-color: hsla(0, 0%, 35%, 0.8);
  padding: 5rem 10rem;
  height: max-content;
  position: absolute;
  top: 0rem;
  left: 0rem;
}
.close {
  position: absolute;
  left: 59rem;
}
.elText-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p.itemsLeft {
  margin: 0;
}
.modal-first {
  background-color: var(--white);
  padding: 2rem 3rem;
  border-radius: 5px;
  margin: 5.5rem 1rem 0 0;
  width: 60%;
}
.modalEl {
  margin: 1.5rem 1rem;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 48%, 0.4);
}

.pledgeEl {
  border-top: 1px solid var(--dark-gray);
}
.elOption {
  width: 0.9rem;
  height: 0.8rem;
  border: 1px solid var(--dark-gray);
  border-radius: 50%;
  margin: 0.5rem 1rem;
  padding: 0.3rem;
}
.fill {
  display: none;
  height: 100%;
  width: 100%;
  background-color: var(--moderate-cyan);
  border-radius: 50%;
}
.elOptionText {
  display: inline;
}
h4.elText-heading {
  margin: 0;
}
.pledge {
  color: var(--moderate-cyan);
  font-weight: 700;
}
.break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
  display: inline-block;
}

.pledgePargraph {
  width: 100%;
}
.number {
  border: none;
  background: none;
  width: 50%;
}
::placeholder {
  color: var(--black);
  opacity: 1;
  font-weight: 700;
}
.value {
  display: flex;
  color: var(--dark-gray);
  border: 1px solid hsla(0, 0%, 48%, 0.4);
  border-radius: 20px;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  width: 2rem;
  margin: 1rem;
}
.continue {
  background-color: var(--moderate-cyan);
  border: none;
  border-radius: 20px;
  color: var(--white);
  font-weight: 700;
  padding: 0.8rem 1.2rem;
}
.box {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "elOption elText"
    "elPledge elPledge";
}

.elOption {
  grid-area: elOption;
}

.elText {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "elText-head"
    "elText-paragraph";
  grid-area: elText;
  margin: 1rem 2rem 0 1rem;
}
.elOption {
  margin: 1rem 0 0 1rem;
}
.elText-head {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "elText-heading itemsLeft";
  grid-area: elText-head;
  height: fit-content;
}

.elText-heading {
  grid-area: elText-heading;
}

.itemsLeft {
  grid-area: itemsLeft;
}

.elText-paragraph {
  grid-area: elText-paragraph;
}

.pledgeEl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "pledgePargraph submitPledge";
  grid-area: elPledge;
  padding: 0 2rem;
}
.hidden {
  display: none;
}
.submitPledge {
  grid-area: submitPledge;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pledgePargraph {
  grid-area: pledgePargraph;
}
.complitedModal {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 38.2%;
  background-color: var(--white);
  margin: 7rem 14rem;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.checkImg {
  width: 4rem;
  margin: 2rem 0;
}
.complited-heading {
  margin: 0;
}
.complted-paragraph {
  color: var(--dark-gray);
  line-height: 1.5rem;
}
.complited-button {
  width: fit-content;
  border: none;
  background-color: var(--moderate-cyan);
  color: var(--white);
  border-radius: 20px;
  padding: 0.5rem 1.3rem;
  font-weight: 700;
  margin: 1rem 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
